<div class="card border-primary mb-3">
  <div class="card-header">Acudientes</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Listado de clientes</h5>
    <div class="my-2 text-left">
      <button class="btn btn-rounded btn-primary" type="button">
        Crear Acudiente
      </button>
    </div>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>id grupo</th>
          <th>id docente</th>
          <th>nombre grupo</th>
          <th>jornada</th>
          <th>sede</th>
          <th>
            editar
          </th>
          <th>eliminar</th>
        </tr>
      </thead>
      <tbody>


          @for (grupo of grupos; track grupo.id_Grupo) {
            <tr >
            <td>{{ grupo.id_Grupo }}</td>
            <td>{{ grupo.id_Docente }}</td>
            <td>{{ grupo.nombreGrupo }}</td>
            <td>{{ grupo.jornada }}</td>
            <td>{{ grupo.sede }}</td>

            <td>
              <button type="button" name="editar"  class="btn btn-primary btn-sm">editar</button>
            </td>
            <td>
              <button type="button" name="eliminar"  class="btn btn-danger btn-sm">eliminar</button>
            </td>
          </tr>
          } @empty {
            Empty list of acudiente
          }


      </tbody>
    </table>

  </div>
</div>


